# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

In [2]:
%pip install scikit-learn==1.1.3

Requirement already satisfied: scikit-learn==1.1.3 in /Users/rodrigogutierrez/anaconda3/lib/python3.10/site-packages (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /Users/rodrigogutierrez/anaconda3/lib/python3.10/site-packages (from scikit-learn==1.1.3) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/rodrigogutierrez/anaconda3/lib/python3.10/site-packages (from scikit-learn==1.1.3) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/rodrigogutierrez/anaconda3/lib/python3.10/site-packages (from scikit-learn==1.1.3) (1.10.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/rodrigogutierrez/anaconda3/lib/python3.10/site-packages (from scikit-learn==1.1.3) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

## Regression Model Evaluation

In [17]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [18]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [20]:
y = data['MEDV']

In [22]:
X = data.drop('MEDV',axis= 1)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [26]:
from sklearn.model_selection import train_test_split as tts

In [27]:
X_train, X_test, y_train, y_test = tts(X, y, train_size=0.80,test_size=0.20, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((404, 13), (102, 13), (404,), (102,))

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [41]:
from sklearn.linear_model import LinearRegression    
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

linear_reg = LinearRegression()

linear_reg.fit(X_train,y_train) #train the model


train_prediction = linear_reg.predict(X_train)

test_prediction = linear_reg.predict(X_test)

In [44]:
train_prediction[:10]

array([10.96952405, 19.41196567, 23.06419602, 12.1470648 , 18.3738116 ,
       25.24677946, 20.77024774, 23.90932632,  7.81713319, 19.60988098])

In [45]:
test_prediction[:10]

array([28.99672362, 36.02556534, 14.81694405, 25.03197915, 18.76987992,
       23.25442929, 17.66253818, 14.34119   , 23.01320703, 20.63245597])

## 3. Calculate and print R-squared for both the training and the testing set.

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

#y_train refers to actual target values 
#train_prediction refers to the predicted target values generated by my model when giiven the training data as input.

train_r2 = r2_score(y_train, train_prediction) 

#y_test refers to the predicted target values generated by your model when it's given the testing data as input.
#test_prediction predicted target values generated by your model when it's given the testing data as input.

test_r2 = r2_score(y_test, test_prediction)

In [49]:
train_r2

0.7508856358979672

In [50]:
test_r2

0.6687594935356314

## 4. Calculate and print mean squared error for both the training and the testing set.

In [52]:
train_mse = mean_squared_error(y_train, train_prediction)
test_mse = mean_squared_error(y_test, test_prediction)

In [53]:
train_mse

21.641412753226316

In [54]:
test_mse

24.29111947497357

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [ ]:
#this refers to a metric used to measure the average abslute differences between the predicted value sand the actusal values.

In [57]:
from sklearn.metrics import mean_absolute_error

train_mae = mean_absolute_error(y_train, train_prediction)
test_mae = mean_absolute_error(y_test, test_prediction)

In [59]:
train_mae

3.314771626783228

In [60]:
test_mae

3.1890919658878496

## Classification Model Evaluation

In [61]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [62]:
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [66]:
X_train, X_test, y_train, y_test = tts(X, y, train_size=0.80,test_size=0.20, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120, 1), (30, 1))

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [68]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

logistic_reg = LogisticRegression()
logistic_reg.fit(X_train, y_train)
train_predictions = logistic_reg.predict(X_train)
test_predictions = logistic_reg.predict(X_test)

/Users/rodrigogutierrez/anaconda3/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/rodrigogutierrez/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [69]:
train_predictions[:10]

array([0, 0, 1, 0, 0, 2, 1, 0, 0, 0])

In [70]:
test_predictions[:10]

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1])

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [78]:
train_accuracy = accuracy_score(y_train, train_predictions)
train_accuracy

0.975

In [82]:
test_accuracy = accuracy_score(y_test, test_predictions)
test_accuracy

1.0

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [83]:
from sklearn.metrics import balanced_accuracy_score
train_balanced_accuracy = balanced_accuracy_score(y_train, train_predictions)
test_balanced_accuracy = balanced_accuracy_score(y_test, test_predictions)

In [84]:
train_balanced_accuracy

0.975609756097561

In [88]:
test_balanced_accuracy

1.0

## 10. Calculate and print the precision score for both the training and the testing set.

In [89]:
from sklearn.metrics import precision_score

In [93]:
train_precision = precision_score(y_train, train_predictions,average='macro')
test_precision = precision_score(y_test, test_predictions,average='macro')

In [94]:
train_precision

0.9761904761904763

In [95]:
test_precision

1.0

## 11. Calculate and print the recall score for both the training and the testing set.

In [92]:
from sklearn.metrics import recall_score
train_recall = recall_score(y_train, train_predictions,average='macro')
test_recall = recall_score(y_test, test_predictions,average='macro')

In [96]:
train_recall

0.975609756097561

In [97]:
test_recall

1.0

## 12. Calculate and print the F1 score for both the training and the testing set.

In [100]:
from sklearn.metrics import f1_score

train_f1 = f1_score(y_train, train_predictions, average='macro')
test_f1 = f1_score(y_test, test_predictions, average='macro')

In [101]:
train_f1

0.9749960931395533

In [102]:
test_f1

1.0

## 13. Generate confusion matrices for both the training and the testing set.

In [104]:
from sklearn.metrics import confusion_matrix

In [105]:
train_confusion_matrix = confusion_matrix(y_train, train_predictions)
test_confusion_matrix = confusion_matrix(y_test, test_predictions)

In [106]:
train_confusion_matrix

array([[40,  0,  0],
       [ 0, 38,  3],
       [ 0,  0, 39]])

In [107]:
test_confusion_matrix

array([[10,  0,  0],
       [ 0,  9,  0],
       [ 0,  0, 11]])

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.